<h1>Task Profile</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%=@task.name%>
    </td>
    <td>
      <%=@task.price%>
    </td>
  </tr>
  </tbody>
</table>
